<td><%= color_name %></td>
<td>
  <div class="color_hash" style="background-color:<%= color_hash %>"></div>
</td>

<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
