<h1>Listing calendar_colors</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Calendar color</a>
