<h1>New calendar_color</h1>

<form id="new-calendar_color" name="calendar_color">
  <div class="field">
    <label for="color"> name:</label>
    <input type="text" name="color" id="color" value="<%= color_name %>" >
  </div>

  <div class="field">
    <label for="name"> color:</label>
    <input type="text" name="name" id="name" value="<%= color_hash %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Calendar color" />
  </div>

</form>

<a href="#/index">Back</a>
