= simple_form_for @calendar, html: {class: 'form-horizontal'}, as: :calendar, url: calendars_path do |f|
  = f.input :name
  = f.input :active

  = f.submit 'Create Calendar', class: 'btn btn-success'


