/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */
 html, body, .container {
  height: 100%;
 }
 footer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
 }

 table.my_calendar td {
  vertical-align: top;
 }

 table.my_calendar {
 }
 body {
  margin-top: 5px;
 }

div.popover.right .arrow{
  padding-top: 3px;
}

.calendar-wrapper .calendar {
  width:165px;display:inline-block;*float:left;text-align:center;border-radius:3px;vertical-align:top
}

.calendar-wrapper .calendar{margin:0 10px 3px 0;border:1px solid #d3e1ef;overflow:hidden;min-height:185px;}
.calendar-wrapper .calendar *{font-family:Arial,Helvetica,sans-serif}
.calendar-wrapper .calendar .header{border-bottom:1px solid #d3e1ef;background-color:#D5EBDA;height:auto;padding:1px 0;text-align:center;font-size:12px}
.calendar-wrapper .calendar .day-headers{background-color:#f1f5f8;overflow:hidden}
.calendar-wrapper .calendar .day-headers .day-header{line-height:15px;font-size:9px}
.calendar-wrapper .calendar .day-headers .day-header span{color:#838383}
.calendar-wrapper .calendar .day-header,.calendar-wrapper .calendar .cal-res,.calendar-wrapper .calendar .day{position:relative;width:14.28%;float:left;text-align:center}
.calendar-wrapper .calendar .cal-res .day{width:100%}
.calendar-wrapper .calendar .day span{cursor:pointer;position:absolute;left:0;top:0;width:100%;color:#818181;font-size:12px;line-height:24px}
.calendar-wrapper .calendar .blocked span{color:#ccc}

.content {
  max-width: 750px;
}

.popover {
  min-width: 400px;
}

.close_form {
  margin-right: 10px;
}

.popover-form .form-horizontal .control-label {
  width: 100px;
}

.popover-form .form-horizontal .controls {
  margin-left: 120px;
}

.popover-form .buttons {
  margin-right: 30px;
}